body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  background: transparent;
}

html {
  background: transparent;
  button {
    cursor: unset;
  }

  input {
    cursor: default;
  }

  a {
    cursor: default;
  }

  label {
    cursor: default;
  }

  .container {
    cursor: default;
  }
}

.drag-region {
  width: 90%;
  height: 30px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  cursor: move;
  -webkit-app-region: drag;
}
