body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
}

.drag-region {
  width: 100%;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: move;
  -webkit-app-region: drag;
}